* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

body {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
    width: 100%;
    gap: 3vh;
    min-width: fit-content;
}

input {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    width: 12rem;
    background: rgb(238, 238, 238);
    border: 2px solid rgb(221, 221, 221);
    border-radius: 5px;
    padding: 0.25em 1em;
}

input:focus,
input:hover {
    border: 2px solid rgb(114, 2, 2);
    box-shadow: 2px 4px 3px rgb(155, 155, 155, 0.8);
}

label {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    padding-bottom: 0.25rem;
}

.banner {
    align-items: center;
    gap: 3vw;
    margin-bottom: 50vh;
    background-color: rgb(255,255,255, 0.3);
    padding: 2vw;
}

.banner > img {
    max-height: 25vh;
}

.banner > p {
    font-family: 'Baba Neue', Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
}

.bottom {
    padding: 3vh;
}

.caption {
    font-weight: bold;
    font-size: 1.25rem;
    padding: 7vh 0 3vh 0;
}

.credits > p {
    margin-bottom: 2vh;
    opacity: 0.6;
    color: black;
    font-size: 1vw;
    width: fit-content;
    background-color: rgb(255,255,255, 0.3);
    padding: 0.1em 0.3em
}

.form-row {
    display: flex;
    gap: 5vw;
}

.form-row:last-child {
    padding-bottom: 5vh;
}

.form-column {
    display: flex;
    flex-direction: column;
}

.invalid {
    border: 2px solid red;
}

.italic {
    font-style: italic;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: no-repeat center url(./plague_background.jpeg);
    background-size: 100% 100vh;
    height: 100vh;
    width: 40vw;
    min-height: 100%;
}

.left-container > div {
    text-align: center;
    display: flex;
    justify-content: center;
}

.password-content::after {
    color: red;
    font-size: 0.7rem;
    position: relative;
    top: 3px;
    left: 10px;
    content: "*Passwords do not match";
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 60vw;
    background-color: rgb(214, 214, 214);
    font-family: Verdana, Tahoma, sans-serif;
    padding-top: 15vh;
    padding-bottom: 15vh;
}

.right-container > * {
    padding-left: 3vw;
    padding-right: 3vw;
}

.submit-button {
    padding: 5px 20px;
    margin-bottom: 5px;
    background-color: rgb(148, 2, 2);
    border: 3px solid black;
    border-radius: 5px;
    color: rgb(214, 214, 214);
    cursor: pointer;
}

.submit-button:hover {
    background-color: rgb(211, 4, 4);
    box-shadow: 2px 4px 3px rgb(155, 155, 155, 0.8);
}

.top > p {
    font-weight: bold;
    margin-bottom: 3vh;
}